[user]
	name = Zack M. Davis
	email = code@zackmdavis.net
[core]
	editor = emacs -nw
[alias]
	s = status
	a = add
	co = commit
	ch = checkout
[color "diff"]
	whitespace = red reverse
[rebase]
	autosquash = true
